.tarjetas-contenedor {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  padding: 20px;
}

.tarjeta {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 200px;
  text-align: center;
  font-family: Arial, sans-serif;
  transition: transform 0.2s ease;
}

.tarjeta:hover {
  transform: translateY(-5px);
}

.tarjeta h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.tarjeta p {
  margin: 5px 0;
  font-size: 1rem;
}

.stock {
  color: green;
  font-weight: bold;
}

.no-stock {
  color: red;
  font-weight: bold;
}

button{
  background-color: #017BFE;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
button:disabled{
  background-color: #ccc;
  cursor: not-allowed;
}